<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>タイトル</th>
      <th>概要</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% items.each do |item| %>
      <tr>
        <td><%= link_to (image_tag(item.mediumImageUrls)), item.itemUrl %></td>
        <td><%= item.itemName %></td>
        <td><%= item.itemCaption %></td>
      </tr>
    <% end %>
  </tbody>
</table>