<h2>ゲームタイトルを入力して検索</h2>
<div class="search-box">
  <%= form_with url: games_path, method: :get do |f| %>
    <div class="form-group">
      <%= f.text_field :keyword, class: "form-control" %>
      <%= f.submit "ゲームの題名を検索", class: "form-control" %>
    </div>
  <% end %>
  <% if @games.present? %>
    <%= render "games/item", games: @games %>
  <% else %>
    検索結果は見つかりませんでした
  <% end %>
</div>