<div class="container px-5 px-sm-0">
  <div class="row">
    <h2 class="col-md-12 d-flex justify-content-center bg-dark text-white">タグが"<strong><%=@tag.name%></strong>"の投稿一覧</h2>
  
    <!--タグリスト-->
    <div class="col-md-12 text-center mt-3">
      <% @tag_list.each do |list|%>
        <i class="fas fa-tag"></i>
        <%=link_to list.name,search_tag_path(review_tag_id: list.id), class: "text-dark" %>
        <%="(#{list.reviews.count})" %>
      <% end %>
    </div>

    <div class="col-md-12 bg-light mt-5">
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th class="col-md-3">タイトル</th>
            <th class="col-md-3">レビュー</th>
            <th class="col-md-2"></th>
            <th class="col-md-2">投稿日</th>
            <th colspan="5"></th>
          </tr>
        </thead>
        <tbody>
          <%= render "public/reviews/list", review: @review %>
        </tbody>
      </table>
    </div>
  </div>
</div>