<div class='container mt-5'>
  <div class='row'>
    <div class="col-md-8 mx-auto text-center p-3">
      <h4 class="mb-3"><strong>本当に退会しますか？</strong></h4>
        <p>
          退会すると、ユーザー登録情報や<br>
          これまでの投稿履歴が閲覧できなくなります。<br>
          退会する場合は、「退会する」をクリックしてください。
        </p>
      <div class="mt-3">
        <%= link_to "退会しない", users_information_path, :class => "btn btn-md btn-primary ms-3" %>
        <%= link_to "退会する", users_withdraw_path, method: :patch, :class => "btn btn-md btn-danger ms-3", data: { confirm: "本当に退会しますか？" }  %>
      </div>
    </div>
  </div>
</div>