<div class="p-3">
  <div class="text-center mt-3">
    <div class="mb-2">
      <i class="fab fa-twitter-square" style="color: #cdc69d; font-size: 30px;"></i>
      <i class="fab fa-line" style="color: #cdc69d; font-size: 28px;"></i>
      <i class="fab fa-instagram-square" style="color: #cdc69d; font-size: 30px;"></i>
    </div>
    <div class="row">
      <div class="col-md-3 offset-md-3">© All Rights Reserved by Game Memory</div>
      supported by<%= image_tag asset_path('rakuten.png') %>
    </div>
  </div>
</div>
